<template id="group-list-template">
    <style type="text/css" scoped>
    </style>
    <ul class="fc-group-list">
        <li class="fc-group-list-item">Group name 1 </li>
        <li class="fc-group-list-item">name 2</li>
        <li class="fc-group-list-item">name 3</li>
    </ul>
</template>

<script>
    (function() {
        var proto = Object.create(HTMLElement.prototype);
        var importDoc = document.currentScript.ownerDocument;
        proto.createdCallback = function() {
            this.innerHTML = importDoc.querySelector('#group-list-template').innerHTML;
        };
        document.registerElement('group-list', { prototype: proto });
    })();
</script>

