<top-navbar></top-navbar>

<div class="fc-main-container">
    <div class="fc-sidebar">
        <group-list></group-list>
    </div>
    <div class="fc-chat-view">
        <chat-messages></chat-messages>
        <chat-input></chat-input>
    </div>
</div>

<modal-create-group></modal-create-group>
