<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="import" href="/components/top-navbar.html">
        <link rel="import" href="/components/sidebar.html">
        <link rel="import" href="/components/chat/chat-messages.html">
        <link rel="import" href="/components/chat/chat-input.html">
        <link rel="import" href="/components/modals/modal-create-group.html">
    </head>
    <body>
        {{{body}}}

        {{!-- javascript includes --}}
        {{!-- jquery and bootstrap --}}
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        {{!-- web components polyfill --}}
        <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
        {{!-- helpers lib --}}
        <script type="text/javascript" src="/javascripts/helpers/toolbelt.js"></script>
        {{!-- socketio --}}
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        {{!-- main javascript file --}}
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
</html>
