<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="description" content="Geolocation + group based chat https://github.com/fuse-chat/fuse">
        {{!-- css inclues --}}
        <link rel="stylesheet" href="/stylesheets/main.css" />
        {{!-- component includes --}}
        <link rel="import" href="/components/top-navbar.html">
        <link rel="import" href="/components/sidebar.html">
        <link rel="import" href="/components/chat/chat-messages.html">
        <link rel="import" href="/components/chat/chat-input.html">
        <link rel="import" href="/components/modals/modal-create-group.html">
        {{!-- html page title, can be set by params from a res.render(..) call --}}
        <title>{{title}}</title>
    </head>
    <body>
        {{!-- the contents of the file that's rendered by a res.render('file') call in routes
           replaces {{body}} below --}}
        {{{body}}}
        {{!-- javascript includes --}}
        {{!-- jquery and bootstrap --}}
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        {{!-- web components polyfill --}}
        <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
        {{!-- helpers lib --}}
        <script type="text/javascript" src="/javascripts/helpers/toolbelt.js"></script>
        {{!-- socketio --}}
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        {{!-- main javascript file --}}
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
</html>
