<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="description" content="Geolocation + group based chat https://github.com/fuse-chat/fuse">
        {{!-- css inclues --}}
        <link rel="stylesheet" href="/stylesheets/main.css" />
        {{!-- html page title, can be set by params from a res.render(..) call --}}
        <title>{{title}}</title>
        {{!-- favicon --}}
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body {{#if user}}data-userid="{{user.id}}"{{/if}}>
        {{!-- the contents of the file that's rendered by a res.render('file') call in routes
           replaces {{body}} below --}}
        {{{body}}}
        {{!-- javascript includes
         --}}
        {{!-- jquery and bootstrap --}}
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        {{!-- lodash --}}
        <script type="text/javascript" src="/bower_components/lodash/lodash.js"></script>
        {{!-- helpers lib --}}
        <script type="text/javascript" src="/javascripts/helpers/toolbelt.js"></script>
        {{!-- socketio --}}
        <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
        {{!-- main javascript file --}}
        <script type="text/javascript" src="/javascripts/geolocation.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
        <script type="text/javascript" src="/javascripts/chat.js"></script>
        <script type="text/javascript" src="/javascripts/group.js"></script>
        <script type="text/javascript" src="/javascripts/positionfunctions.js"></script>
        <script type="text/javascript" src="/javascripts/notifications.js"></script>
        <script type="text/javascript" src="/javascripts/preferences.js"></script>
    </body>
</html>


